# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# VSCode
.vscode/

# macOS
.DS_Store

# logs and sqlite
*.log
*.sqlite3

# downloads
temp_downloads/
